NEXT_PUBLIC_MAIN_SITE_BASE_DOMAIN="var_main_site_base_domain"
NEXT_PUBLIC_ALGOLIA_APP_ID="var_algolia_app_id"
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY="var_algolia_search_key"
NEXT_PUBLIC_ALGOLIA_INDEX_NAME="var_algolia_index_name"
NEXT_PUBLIC_ALGOLIA_ASSISTANT_ID="var_algolia_assistant_id"
ALGOLIA_ADMIN_KEY="var_algolia_admin_key"