@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Light-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Medium.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Medium-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-SemiBold-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-SemiBold-Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Bold-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-ExtraBold-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-ExtraBold-Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-Regular.woff2") format("woff2"), url("../public/fonts/Sora/Sora-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-Medium.woff2") format("woff2"), url("../public/fonts/Sora/Sora-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-SemiBold.woff2") format("woff2"), url("../public/fonts/Sora/Sora-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-Bold.woff2") format("woff2"), url("../public/fonts/Sora/Sora-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  scroll-padding-top: 72px;
}

body {
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

button, input, textarea {
  font-family: inherit;
}

p {
  margin: 0;
}

@media (max-width: 592px) {
  html {
    scroll-padding-top: 56px;
  }
}

.DocSearch-SidepanelButton.floating {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.DocSearch-Menu, .DocSearch-Button, .DocSearch-AskAiScreen-Actions {
  display: none !important;
}

.DocSearch-Sidepanel .DocSearch-Logo a {
  color: #333;
  display: flex;
  gap: 8px;
}

.DocSearch-Sidepanel-Container.is-open {
  z-index: 1001 !important;
}

.DocSearch-Sidepanel-Action-expand,
.DocSearch-Sidepanel-Action-close {
  display: flex;
  appearance: none;
  border-radius: var(--docsearch-border-radius);
  color: var(--docsearch-icon-color);
  cursor: pointer;
  stroke-width: var(--docsearch-icon-stroke-width);
  background: 0 0;
  border: none;
  padding: 2px;
  animation: 0.1s ease-in forwards fade-in;
  inset-inline-end: 0;
}

.DocSearch-Sidepanel-Header-TitleIcon {
  background: url("https://static-helpcenter.onlyoffice.com/images/icons/ask-ai.react.svg") no-repeat center / contain;
  color: transparent !important;
}

.DocSearch-AskAiScreen-MessageContent-Tool.Tool--Result {
  font-size: 12px;
  color: #666;
}

.DocSearch-AskAiScreen-RelatedSources {
  .DocSearch-AskAiScreen-RelatedSources-Title {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  svg {
    color: #ff6f3d;
    width: 12px;
    height: 12px;
  }

  .DocSearch-AskAiScreen-RelatedSources-List {
    display: flex;
    flex-direction: column;
  }
}

.DocSearch-Sidepanel {
  color: #333;

  a {
    color: #ff6f3d;
    &:hover {
      text-decoration: underline;
    }
  }
}

.DocSearch-Sidepanel-Prompt--submit {
  background-color: #ff6f3d !important;

  &[aria-disabled="true"] {
    background-color: #ccc !important;
  }
}

.DocSearch-Sidepanel-Prompt--form {
  border-color: #ff6f3d !important;
}

.DocSearch-AskAiScreen-Message.DocSearch-AskAiScreen-Message--user {
  padding-bottom: 16px;
}

.DocSearch-Sidepanel-Content {
  scrollbar-color: #aaaaaa #E2E2E2 !important;
}

@media (max-width: 768px) {
  .DocSearch-Sidepanel-Header {
    justify-content: start !important;
}
  .DocSearch-Sidepanel-Header--left {
    display: none !important;
  }
}